@import '@as-design-system/core/typography.css';
@import '@as-design-system/core/colors.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-main, var(--cool-grey-100, #14171d));
  background-color: var(--background-secondary, var(--warm-grey-10, #fafafa));
}

#root {
  min-height: 100vh;
}

