/**
 * ToolIcons Component Styles
 */

.tool-icons {
  position: relative;
  width: 90px;
  height: 90px;
}

.tool-icons__image-wrapper {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.tool-icons__image {
  position: absolute;
  inset: 0;
  max-width: none;
  object-fit: cover;
  object-position: 50% 50%;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

